@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    font-family: "Onest", sans-serif;
    font-style: normal;
  }
  .inner-shadow {
    box-shadow: inset 0px 0 8px #d4d4d8;
}
b{
  color: rgb(185 28 28);
}
video{
  background-image: url(../img/Banner.png);
  background-size:cover;
  background-repeat: no-repeat;
}